h1{
    text-align: center;
    background-color: aqua;

    
}
p{
    text-align: center;
}
body name{
    text-align: center;
}
.email{
    text-align: center;
}
.age{
    text-align: center;
}
.which option best describes your current role{
    text-align: left;
}
.how likely is that you wouuld recomend WITU to a friend{
    text-align:left;
}
.what do you like mist in WITU{
    text-align: left;
}
.Things that shold be improved in the future{
    text-align: left;
}
